<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="schoolpal.cloud.serviceModel" type="SchoolPal.Cloud.ServiceModel.Config.ServiceConfigSection, SchoolPal.Cloud.ServiceModel.Client"/>
  </configSections>
  <connectionStrings>
    <add name="ReadDmsdev" connectionString="server=rm-wz96sojqf5ffnmg5qo.mysql.rds.aliyuncs.com;port=3306;database=dms_dev;uid=dms_dev;pwd=JiaYe1110;SslMode=None;" providerName="MySql.Data.MySqlClient"/>
    <add name="WriteDmsdev" connectionString="server=rm-wz96sojqf5ffnmg5qo.mysql.rds.aliyuncs.com;port=3306;database=dms_dev;uid=dms_dev;pwd=JiaYe1110;SslMode=None;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ACCESS_KEY_ID" value="LTAILuYMo1bKLLcs" /> <!--请在这里填写您的Access Key ID-->
    <add key="ACCESS_KEY_SECRET" value="LQscGgd3BZS8g9Q2CynDDA2cSNJIBt" /> <!--请在这里填写您的Access Key Secret-->
    <add key="MaxSelcetAmount" value="10000" /><!--最大查询数据量-->
    <add key="MaxJsonLength" value="20971520"/><!--最大Json长度-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
<schoolpal.cloud.serviceModel>
<services>
<service name="SmsService" url="http://192.168.5.208:50890/SmsService/"/>
</services>
</schoolpal.cloud.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
