@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var ecsListDto = {
        list:[]
    };
    $(function () {
        loadEcsList("");
        var ecsListModel = new Vue({
            el: '#ecsList',
            data: ecsListDto,
            methods: {
                submit: function () {
                    loadEcsList("");
                }
            }
        });
    });

    function loadEcsList(ecsListSeachDto) {
        $.ajax({
            type: 'POST',
            url: '/Ecs/GetEcsList',
            data: ecsListSeachDto,
            success: function (rs) {
                bindEcsListModel(rs);
            },
            dataType: 'json'
        });
    }

    function bindEcsListModel(resultList) {
        for (var i = 0; i < resultList.length; i++) {
            ecsListDto.list.push({
                name: resultList[i].Name,
                domainName: resultList[i].DomainName,
                provider: resultList[i].Provider,
                os: resultList[i].Os,
                wanIp: resultList[i].WanIp,
                internalIp: resultList[i].InternalIp,
                description: resultList[i].Description,
                instanceId: resultList[i].InstanceId,
                instanceName: resultList[i].InstanceName
            });
        }
    }
</script>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Tables</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- /.panel-heading -->
        <div class="dataTable_wrapper" id="ecsList">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>ECS名称</th>
                        <th>域名</th>
                        <th>供应商</th>
                        <th>操作系统</th>
                        <th>IP</th>
                        <th>供应商实例Id</th>
                        @*<th>配置</th>*@
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(index, ecs) in list">
                        <tr class="odd" v-if="index % 2 == 0">
                            <td title="ECS描述">{{ecs.name}}<label v-model="ecs.name"></label></td>
                            <td>{{ecs.domainName}}</td>
                            <td>{{ecs.provider}}</td>
                            <td class="center">{{ecs.os}}</td>
                            <td class="center">
                                {{ecs.wanIp}}（外）
                                <br />
                                {{ecs.internalIp}}（内）
                            </td>
                            <td>{{ecs.instanceId}}</td>
                            @*<td>
                                x C - x G
                                <br />
                                xx Mbps
                            </td>*@
                        </tr>
                        <tr class="even" v-else>
                            <td title="ECS描述">{{ecs.name}}<label v-model="ecs.name"></label></td>
                            <td>{{ecs.domainName}}</td>
                            <td>{{ecs.provider}}</td>
                            <td class="center">{{ecs.os}}</td>
                            <td class="center">
                                {{ecs.wanIp}}（外）
                                <br />
                                {{ecs.internalIp}}（内）
                            </td>
                            <td>{{ecs.instanceId}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>