<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aliyun.OSS.SDK" version="2.5.1" targetFramework="net45" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net45" />
  <package id="Greedy.Dapper" version="1.0.6190.19229" targetFramework="net45" />
  <package id="ICSharpCode.SharpZipLib" version="0.84.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Memcached.ClientLibrary" version="1.0.0.1" targetFramework="net45" />
  <package id="SchoolPal.Aspose.Cells" version="7.2.1" targetFramework="net45" />
  <package id="SchoolPal.Toolkit.Caching" version="1.0.0" targetFramework="net45" />
  <package id="SchoolPal.Toolkit.Caching.EnyimMemcached" version="1.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
</packages>