@{
    ViewBag.Title = "AboutPassword";
}
<script type="text/javascript">

    // 创建一个 Vue 实例或 "ViewModel"
    // 它连接 View 与 Model
    var randPwdData = {
        pwdLength: 16,
        pwdData: '',
    }

    var strToMD5Data = {
        data16Upper: '',
        data16Lower: '',
        data32Upper: '',
        data32Lower: '',
    }
    $(function () {
        var randPwdVM = new Vue({
            el: '#randPwd',
            data: randPwdData,
            methods: {
                submit: function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Home/GetRandomPassword',
                        data: randPwdData,
                        success: function (rs) {
                            randPwdData.pwdData = rs.data;
                            randPwdData.pwdLength = rs.data.length;
                        },
                        dataType: 'json'
                    });
                }
            }
        });

        var strToMD5VM = new Vue({
            el: '#strToMD5',
            data: strToMD5Data,
            methods: {
                submit: function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Home/GetMd5String',
                        data: { sourseStr: $("#md5SourseStr").val() },
                        success: function (rs) {
                            strToMD5Data.data16Upper = rs.data16Upper;
                            strToMD5Data.data16Lower = rs.data16Lower;
                            strToMD5Data.data32Upper = rs.data32Upper;
                            strToMD5Data.data32Lower = rs.data32Lower;
                        },
                        dataType: 'json'
                    });
                }
            }
        });
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">密码相关</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div id="randPwd">
    <p>
        <h4>生成随机密码</h4>
        <input type="text" name="PwdLength" v-model="pwdLength" />&nbsp;<button v-on:click="submit">确定</button>
        <br /><br />
        <input type="text" v-model="pwdData" size="30" />
    </p>
</div>
<br /><br />
<div id="strToMD5" style=" width:500px">
    <p>
        <h4>MD5加密</h4>
        <input type="text" id="md5SourseStr" size="30" />&nbsp;<button v-on:click="submit">确定</button>
        <br /><br />
        <fieldset>
            <legend>
                16位
            </legend>
            大写：<input type="text" v-model="data16Upper" size="40" /><br /><br />
            小写：<input type="text" v-model="data16Lower" size="40" />
        </fieldset><br />
        <fieldset>
            <legend>
                32位
            </legend>
            大写：<input type="text" v-model="data32Upper" size="40" /><br /><br />
            小写：<input type="text" v-model="data32Lower" size="40" />
        </fieldset>
    </p>
</div>
<div id="divLoad"></div>